/* .App {
  text-align: center;
  /* background-color:#B7B7BB; */
/* } */ */
#header{
  padding: 16px;
  margin:  16px;
}
#increment{
  padding: 8px;
  margin:  16px;
  background-color:rgb(39, 245, 176) ;
  border: none;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
}
#decrement{
  padding: 8px;
  margin:  16px;
  background-color:#e9ebe8 ;
  border: none;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
}
#count{
  padding: 8px;
  margin:  80px;
  width:160px
}
#reset{
  
  padding: 8px;
  margin:  16px;
  background-color: #000000;
  color: aliceblue;
  border: none;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
}
