.textarea{
  margin-left:300px;
   margin-right:300px
}
.todo{
   padding: 16px;
    background: #F94F5E;
     margin: 10px
}
.scroll{
  
    min-height: 200px;
      max-height: 400px;
      overflow-x:hidden;
      overflow-y: auto;

}
.list{
  background:wheat;
   margin: 4px;
    border-radius: 5px
}
.inprogg{
  
    padding: 16px;
    background: #B7B7BB;
    margin-left:60px;
    margin-right: 60px;
    margin-top:10px;
}
.completed{
  padding: 16px;
     margin:10px ;
    background:#e9ebe8
}